body {
    background-color: #F9F8F7;
    margin: 0;
    color: #535A61;
}

.search-field {
    border-radius: 5px;
    text-align: start;
    color: #636C74;
    border-width: 0px;
}

.search-field::placeholder {
    color: #A7A8AF;
}

.search-field:focus {
    outline: none;
}

.child-list-container {
    display: grid;
    grid-auto-rows: auto;
}

.child-card {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    border-radius: 10px;
}
 
.child-info {
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-self: center;
    text-align: start;
}

.btn-container {
    display:grid;
    grid-template-rows: 1fr 1fr;
}

.btn {
    margin: 5px;
    width: 100px;
    border-radius: 10px;
    border-width: 0;
    
    justify-self: center;
    color: white;
    font-weight: bold;
}

.signin-btn {
    background-color: #3FC2A3;
}

.signin-btn:hover {
    background-color: #00daa7;
}

.signin-btn:disabled {
    background-color: #7ebbad77;
}

.signout-btn {
    background-color: #FF543D;
}

.signout-btn:hover {
    background-color:  #ff1e00;
}

.signout-btn:disabled {
    background-color: #ff908277;
}

.avatar {
    border-radius: 10px;
    margin: 5px;
}

.avatar-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.checkinout-msg {
    font-weight: bold;
    font-size: 0.85rem;
}

.checkedin-msg {
    color: #3FC2A3;
}

.checkedout-msg{
    color :#FF543D;
}